body{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
}
@font-face {
    font-family: 'celinda';
    src: url('fonts/Celinda-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'mileast';
    src: url('fonts/Mileast.otf') format('truetype');
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.move-down{
    margin-top: 100px;
    margin-bottom: 100px;
}
h1 {
    text-align: center;
    font-family: 'celinda';
    animation: fadeIn 2s cubic-bezier(0.65, 0, 0.35, 1) forwards; 

}
h4 {
    text-align: center;
    font-family:sans-serif;
    font-size: 1.5rem;
    color: black;
}
#link-title {
    text-decoration: none;
    color: black; 
    
}
#link-title :hover {
    color: rgb(197, 194, 194);
}

@media (max-width: 600px) {
  .container {
    width: 96%;
  }


}