.resume-img {
    display: block;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
}
body{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7))
}
.move-down{
    margin-top: 100px;
    margin-bottom: 100px;
}
.container a {

  color: darkgray;      
  transition: color 0.3s;
}

@font-face {
    font-family: 'celinda';
    src: url('fonts/Celinda-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'mileast';
    src: url('fonts/Mileast.otf') format('truetype');
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


h1 {
    font-family: 'celinda';
    animation: fadeIn 2s cubic-bezier(0.65, 0, 0.35, 1) forwards; 

}
h2 {
    font-family: 'milesast';
    font-weight: bold;
}
li {
    font-family: sans-serif;
}
p {
    font-family: sans-serif;
}
.download-resume-btn {
    background-color: gray;
    border-color: gray;
    box-shadow: 1px 1px 1px black;
    text-shadow: 1px 1px 1px black;
    color: white !important;
    font-family: sans-serif;
}
.download-resume-btn:hover {
    background-color: rgb(26, 25, 25);
    border-color: gray;
}
@media (max-width: 600px) {

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  border-color: gray;
  text-shadow: 1px 1px 1px black;
  box-shadow: 1px 1px 1px black;
}
.btn:hover {
  background-color: rgb(27, 27, 27);
  border-color: rgb(27, 27, 27);
}
}