{% extends 'index.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">
{% block title %}About Me{% endblock %}
{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="custom-jumbotron text-center p-5 shadow-sm rounded">
      <h1 class="display-4 mb-4">Hi, I'm Chris</h1>
      
      <div id="about-me-text">
      <p class="lead text-muted mb-4">
        I am currently pursuing a dual degree in Applied Physics and Computer Science, driven by a deep curiosity 
        about how the universe works and a passion for leveraging software to solve complex problems. My academic 
        journey has equipped me with a solid foundation in both theoretical physics and practical software development, 
        enabling me to bridge the gap between scientific research and innovative applications.
      </p>
      
      <p class="text-muted mb-4">
        Throughout my college career and internships, I have worked on a wide range of projects, including investigating stellar 
        oscillations and magnetic activity in solar-type stars through asteroseismology, and designing and deploying machine 
        learning models that optimize fiber optic cleaving processes in a high-tech industrial setting at Thorlabs. These 
        experiences have sharpened my analytical thinking, data processing, and model-building skills.
      </p>
      
      <p class="text-muted mb-4">
        I am particularly passionate about applying machine learning and data science techniques to real-world challenges, 
        especially where physics-based understanding can guide smarter, more reliable models. My approach emphasizes interpretability, 
        robustness, and practical usability to create simple, yet effective solutions.
      </p>
      
      <p class="text-muted mb-4">
        Beyond technical expertise, I value collaboration, lifelong learning, and creative problem solving. Whether working independently
        or on a team, I strive to communicate clearly, stay organized, and approach every project with curiosity and enthusiasm.
      </p>
      
      <p class="text-muted">
        I’m excited to contribute my skills and energy to impactful projects that combine science with technology. 
        If you’re interested in working together or just want to connect, feel free to reach out.
        I’m always open to new ideas and opportunities.
      </p>
      </div>
      <h2 class="text-center mb-5 skill-title">Programming Languages</h2>
      <div class="row justify-content-center g-4">
        <div class="col-sm-6 col-md-3">
          <div class="skill-card text-center p-3 shadow-sm rounded">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" alt="Python Logo" class="skill-icon">
            <h5 class="mt-2">Python</h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="skill-card text-center p-3 shadow-sm rounded">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" alt="C Logo" class="skill-icon">
            <h5 class="mt-2">C</h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="skill-card text-center p-3 shadow-sm rounded">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" alt="C++">
            <h5 class="mt-2">C++</h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="skill-card text-center p-3 shadow-sm rounded">
              <img 
                  src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" 
                  alt="Java Logo" 
                  />
            <h5 class="mt-2">Java</h5>
          </div>
        </div>
        </div>
       <h2 class="text-center mb-5 skill-title">Machine Learning Skills</h2>
       <div class="row justify-content-center g-4">
       <div class="col-sm-6 col-md-3">
          <div class="skill-card text-center p-3 shadow-sm rounded">
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg" 
                      alt="TensorFlow" >            
              <h5 class="mt-2">TensorFlow</h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="skill-card text-center p-3 shadow-sm rounded">
              <svg role="img" viewBox="0 0 24 24" fill="#f48120" xmlns="http://www.w3.org/2000/svg">
                    <title>XGBoost</title>
                    <path d="M21.57 6.32a3.09 3.09 0 0 0-4.1 0l-1.32 1.32a1.26 1.26 0 0 0-.37 1.41l.75 1.59-5.12 2.68-2.49-1.43.36-2.31a1.36 1.36 0 0 0-1.35-1.5h-2.54a3.32 3.32 0 0 0-3.35 3.42v4.3a3.32 3.32 0 0 0 3.35 3.42h2.55a1.38 1.38 0 0 0 1.35-1.49l-.29-1.85 2.48-1.39 4.43 3.68.46 1a1.36 1.36 0 0 0 1.42.76 3.08 3.08 0 0 0 2.74-3.26v-6.6a3.09 3.09 0 0 0-.95-2.38Zm-11.91 7.62-1.72 1-1.51-2.88 3.27-1.69Zm4.31 1.17-3.52-2.94 2.83-1.48 2.24 4.79Z">
                  </svg>>            
              <h5 class="mt-2">XGBoost</h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="skill-card text-center p-3 shadow-sm rounded">
              <img src="https://scikit-learn.org/stable/_static/scikit-learn-logo-small.png" 
                      alt="Scikit-Learn">            
              <h5 class="mt-2">Scikit-Learn</h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="skill-card text-center p-3 shadow-sm rounded">
              <img 
                      src="https://cdn.jsdelivr.net/npm/simple-icons@v8/icons/mlflow.svg" 
                      alt="MLflow Logo" 
                    />            
              <h5 class="mt-2">MLFlow</h5>
          </div>
        </div>
       </div>
        <h2 class="text-center mb-5 skill-title">Operating Systems</h2>
        <div class="row justify-content-center g-4">
       <div class="col-sm-6 col-md-4">
          <div class="skill-card text-center p-3 shadow-sm rounded">
              <img
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Windows_logo_-_2012.svg/120px-Windows_logo_-_2012.svg.png"
                  alt="Windows Logo"
                    />           
              <h5 class="mt-2">Windows</h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="skill-card text-center p-3 shadow-sm rounded">
              <img
                      src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"
                      alt="Apple Logo"
                    />        
              <h5 class="mt-2">Mac OS</h5>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="skill-card text-center p-3 shadow-sm rounded">
              <img
                   <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/64px-Tux.svg.png"
                    alt="Linux Tux"
                  />         
              <h5 class="mt-2">Linux</h5>
          </div>
        </div>
        </div>
    </div>
    
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.1/vanilla-tilt.min.js"></script>
<script>
    VanillaTilt.init(document.querySelectorAll(".skill-card"), {
  max: 40, 
  speed: 400, 
});
</script>

{% endblock %}