{% extends 'index.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='about.css')}}">

{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container">
    <div class="custom-jumbotron text-center p-5 shadow-sm rounded">
      <h1 class="display-4 mb-4">Hi, I'm Chris</h1>
      
      <div id="about-me-text">
      <p class="lead text-muted mb-4">
        I am currently pursuing a dual degree in Applied Physics and Computer Science, driven by a deep curiosity 
        about how the universe works and a passion for leveraging software to solve complex problems. My academic 
        journey has equipped me with a solid foundation in both theoretical physics and practical software development, 
        enabling me to bridge the gap between scientific research and innovative applications.
      </p>
      
      <p class="text-muted mb-4">
        Throughout my studies and internships, I have worked on a wide range of projects, including investigating stellar 
        oscillations and magnetic activity in solar-type stars through asteroseismology, and designing and deploying machine 
        learning models that optimize fiber optic cleaving processes in a high-tech industrial setting at Thorlabs. These 
        experiences have sharpened my analytical thinking, data processing, and model-building skills.
      </p>
      
      <p class="text-muted mb-4">
        I am particularly passionate about applying machine learning and data science techniques to real-world challenges, 
        especially where physics-based understanding can guide smarter, more reliable models. My approach emphasizes interpretability, 
        robustness, and practical usability to create simple, yet effective solutions.
      </p>
      
      <p class="text-muted mb-4">
        Beyond technical expertise, I value collaboration, lifelong learning, and creative problem solving. Whether working independently
        or on a team, I strive to communicate clearly, stay organized, and approach every project with curiosity and enthusiasm.
      </p>
      
      <p class="text-muted">
        I’m excited to contribute my skills and energy to impactful projects that combine science with technology. 
        If you’re interested in working together or just want to connect, feel free to reach out.
        I’m always open to new ideas and opportunities.
      </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}