{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='portfolio.css')}}">

{% endblock %}

{% block content %}

<h3>Current Projects</h3>

<div class="container my-4">
    <div class="row g-4 cards-container">

        <div class="col-md-4">
        <div class="card h-100">
            <a href="{{url_for('focal')}}">
            <img src="static/focal_screenshot1.png" class="card-img-top" alt="Placeholder Screenshot">
            </a>
            <div class="card-body">
            <h5 class="card-title">Focal</h5>
            <p class="card-text">
                A machine learning package for training and testing models geared towards fiber cleave classification and optimization.
            </p>
            <div class="mt-2">
                <img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white" alt="Python">
                <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=tensorflow&logoColor=white" alt="TensorFlow">
                <img src="https://img.shields.io/badge/Keras-D00000?style=for-the-badge&logo=keras&logoColor=white" alt="Keras">
                <img src="https://img.shields.io/badge/Pandas-150458?style=for-the-badge&logo=pandas&logoColor=white" alt="Pandas">
                <img src="https://img.shields.io/badge/NumPy-013243?style=for-the-badge&logo=numpy&logoColor=white" alt="NumPy">
            </div>
            </div>
            <div class="card-footer bg-transparent border-0">
            <a href="https://github.com/c-lombardi23/FOCAL" class="btn btn-primary">View</a>
            </div>
        </div>
        </div>

        <div class="col-md-4">
        <div class="card h-100">
            <a href="https://github.com/c-lombardi23/new_fit_physicist">
            <img src="static/fit_physics_screenshot.png" class="card-img-top" alt="Fit Physicist Screenshot">
            </a>
            <div class="card-body">
            <h5 class="card-title">Personal Training Website</h5>
            <p class="card-text">
                TheFitPhysicist is a Flask-based blog and portfolio web app with dynamic routing, blog post creation, contact forms, and SEO-friendly sitemap support.
            </p>
            <div class="mt-2">
                <img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white" alt="Python">
                <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=tensorflow&logoColor=white" alt="TensorFlow">
                <img src="https://img.shields.io/badge/Keras-D00000?style=for-the-badge&logo=keras&logoColor=white" alt="Keras">
                <img src="https://img.shields.io/badge/Pandas-150458?style=for-the-badge&logo=pandas&logoColor=white" alt="Pandas">
                <img src="https://img.shields.io/badge/NumPy-013243?style=for-the-badge&logo=numpy&logoColor=white" alt="NumPy">
            </div>
            </div>
            <div class="card-footer bg-transparent border-0">
            <a href="https://github.com/c-lombardi23/new_fit_physicist" class="btn btn-primary">View</a>
            </div>
        </div>
        </div>

        <div class="col-md-4">
        <div class="card h-100">
            <a href="https://github.com/c-lombardi23/Asteroseismology">
            <img src="static/periodogram.png" class="card-img-top" alt="Asteroseismology Screenshot">
            </a>
            <div class="card-body">
            <h5 class="card-title">Asteroseismology</h5>
            <p class="card-text">
                My research investigates stellar oscillations and magnetic activity in solar-type stars, using power spectra to probe stellar interiors.
            </p>
            <div class="mt-2">
                <img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white" alt="Python">
                <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=tensorflow&logoColor=white" alt="TensorFlow">
                <img src="https://img.shields.io/badge/Keras-D00000?style=for-the-badge&logo=keras&logoColor=white" alt="Keras">
                <img src="https://img.shields.io/badge/Pandas-150458?style=for-the-badge&logo=pandas&logoColor=white" alt="Pandas">
                <img src="https://img.shields.io/badge/NumPy-013243?style=for-the-badge&logo=numpy&logoColor=white" alt="NumPy">
            </div>
            </div>
            <div class="card-footer bg-transparent border-0">
            <a href="https://github.com/c-lombardi23/Asteroseismology" class="btn btn-primary">View</a>
            </div>
        </div>
        </div>
    </div>
    </div>

    {% endblock %}